body{
    margin-left: 350px;
    padding: 0px;
    max-width: 720px;
    max-height: 2110px;
    font-family: 'Poppins', sans-serif;
    display: center;
    align-items: center;
    justify-content: center;
    height: 500vh;

    text-align: justify;

    background: rgb(0, 0, 0);
}
p{
    font-size: 5px;
    line-height: 5px;
    background-image: url(Love.jpg);
    background-attachment: center;
    -webkit-background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
